@tailwind base;
@tailwind components;
@tailwind utilities;

/* Inria Sans */
@font-face {
  font-family: "Inria Sans";
  src: url("/fonts/inria-sans/InriaSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inria Sans";
  src: url("/fonts/inria-sans/InriaSans-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inria Sans";
  src: url("/fonts/inria-sans/InriaSans-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Inria Serif */
@font-face {
  font-family: "Inria Serif";
  src: url("/fonts/inria-serif/InriaSerif-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inria Serif";
  src: url("/fonts/inria-serif/inria-serif-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Inter (buttons only) */
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/inter-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


:root {
  font-family: "Inria Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Inria Serif", serif;
  line-height: 1.2;
}

p, body {
  font-family: "Inria Sans", sans-serif;
}

 button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}



#nprogress .bar {
  background: #1D6361; /* ya brand color */
  height: 3px;
}

#nprogress .peg {
  box-shadow: 0 0 10px #246f6c, 0 0 5px #267d7b;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
